language: Java
before_install:
  - echo "deb [arch=amd64] http://storage.googleapis.com/bazel-apt stable jdk1.8" | sudo tee /etc/apt/sources.list.d/bazel.list
  - curl https://bazel.build/bazel-release.pub.gpg | sudo apt-key add -
  - sudo apt-get update
install:
  - sudo apt-get install bazel
script:
  - bazel build //:awgw-v0.5-alpha
  - bazel build //:awgw-v0.5-alpha_deploy.jar
